*{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.login{
    background-color: #7B8FA1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cajaCentral {
    background-color: #567189;
    border: 1.5px solid #FAD6A5;
    border-radius: 20px;
    color: #FAD6A5;
    text-align: center;
    width: 60rem;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow:
    0 0 6px #FAD6A5,
    0 0 9px #FAD6A5,
    0 0 12px #FAD6A5,
    0 0 30px #CFB997,
    0 0 36px #CFB997,
    0 0 60px #CFB997,
    0 0 90px #CFB997,
    0 0 120px #CFB997;
}

.titulo{
    font-size: 3rem;
}

.pisador{
    text-align: end;
}


.emogi{
    font-size: 30px;
}

.parrafo{
    text-align: left;
    font-size: 1.3rem;
}

.texto{
    padding: 10px;
}

.header{
    height: 90px;
    background-color: #205375;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.logo{
    padding-left: 10px;
    color: whitesmoke;
    font-size: 1.5rem;
}


.logo2{
    color: #FAD6A5;
    font-size: 2rem;
}


.logoGit{
    width: 100px;
    height: auto;
}


.inputTema{
    padding-top: 12px;
    height: 30px;
    width: 150px;
    font-size: 1.5rem;
    padding: 10px;
}


.img{
    width: 60px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.footer{
    height: 100px;
    background-color: #205375;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text_footer{
    color: whitesmoke;
}


.codigo{
    background-color: #2E3840;
    font-size: 1.5rem;
    color: whitesmoke;
    padding-bottom: 10px;
}

