* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: aqua;
}


.login {
  background-color: #7b8fa1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.cajaCentral {
  background-color: #567189;
  border-radius: 20px;
  font-size: 1rem;
  color: #fad6a5;
  text-align: center;
  width: 60rem;
  padding: 10px;
  -webkit-box-shadow: -3px 10px 43px 4px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -3px 10px 43px 4px rgba(0, 0, 0, 0.59);
  box-shadow: -3px 10px 43px 4px rgba(0, 0, 0, 0.59);
}

.titulo {
  font-size: 3rem;
}

.pisador {
  display: flex;
  justify-content: space-between;
  margin-inline: 30px;
  text-decoration: none;
}

.emogi,
.buscar, 
.papelera {
  font-size: 2rem;
}


.papelera{
  cursor: pointer;
}


.parrafo {
  text-align: left;
  font-size: 1.3rem;
}

.texto {
  padding: 10px;
}

.header {
  height: 90px;
  background-color: #205375;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.logo {
  padding-left: 10px;
  color: whitesmoke;
  font-size: 1.5rem;
}

.logo2 {
  color: #fad6a5;
  font-size: 2rem;
}

.logoGit {
  width: 100px;
  height: auto;
}

.inputTema {
  padding-top: 12px;
  height: 30px;
  width: 300px;
  font-size: 1rem;
  padding: 10px;
}

.img {
  width: 60px;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
  height: 100px;
  background-color: #205375;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text_footer {
  color: whitesmoke;
}

.codigo {
  background-color: #2e3840;
  font-size: 1.5rem;
  color: whitesmoke;
  padding-bottom: 10px;
}

/* Por debajo de 700px */
@media screen and (max-width: 700px) {
  .cajaCentral {
    font-size: 0.9rem;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .inputTema {
    width: 150px;
    font-size: 0.9rem;
  }
  .parrafo {
    font-size: 0.9rem;
  }
  .codigo{
    font-size: 0.9rem;
  }
}
/* Por debajo de 400px */
@media screen and (max-width: 400px) {
  .cajaCentral {
    font-size: 9px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .inputTema {
    width: 90px;
    font-size: 0.9rem;
  }
  .parrafo {
    font-size: 0.9rem;
  }
  .codigo{
    font-size: 0.9rem;
  }
}
